

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Titan+One" rel="stylesheet">
  <style>
    body {
      font-family: 'Titan One', cursive;
      font-size: 50px;
      text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    }
  </style>
</head>
<body class="supersaiyan">
  <h1 class="title">You squeezed them raw!</h1>
</body>
</html>
