<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body class="supersaiyan">
  <h1 class="titan-one white-border">You squeezed them raw!</h1>
  <a href='/play' class="button titan-one">Release the Nips</a>
</body>
</html>
