<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Titan+One" rel="stylesheet">
  <style>
    p {
      font-family: 'Titan One', cursive;
      font-size: 50px;
      text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    }
    a {
      font-family: 'Titan One', cursive;
      font-size: 50px;
    }
  </style>
</head>
<body class="supersaiyan">
  <div>
  <p class="title">You squeezed them raw!</p>
  <a href='/play' class="button">Release the Nips</a>
</body>
</html>
