<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body class="deadgoku">
<h1 class="titan-one white-border"><%= @game.attacker.name %> Lost</h1>

</body>
</html>