<h1><%= @player_name_1 %> V <%= @player_name_2 %></h1>
'Testing infrastructure working!'

<div class='form'>
  <form action='/play' method='post'>
    <label for='name_1'>Player 1 Name: </label>
    <input type='text' name='player_name_1' />
    <label for='name_2'>Player 2 Name: </label>
    <input type='text' name='player_name_2' />

    <button type='submit'>Play</button>
  </form>
</div>
