<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body class="gokuvegeta titan-one">
  <form action='/names' method='post'>
    <div>
      <label for='name_1' class="white-border">Player 1 Name: </label>
      <input type='text' name='player_name_1' class="titan-one"/>
    </div>
    <div>
      <label for='name_2' class="white-border">Player 2 Name: </label>
      <input type='text' name='player_name_2' class="titan-one"/>
    </div>
    <div>
      <button type='submit' class="button titan-one">Play</button>
    </div>
  </form>
</body>
</html>
