@import url('https://fonts.googleapis.com/css?family=Titan+One');

h1 {
  font-size: 100px;
  text-align: center;
}

p {
  font-size: 50px;
}

label {
  font-size: 50px;
}

input {
  font-size: 50px;
}

.centre {
  text-align: center;
}

.titan-one {
  font-family: 'Titan One', cursive;
}

.white-border {
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.gokuvegeta {
  background-image: url(https://1.bp.blogspot.com/-jGAEhXfHB6A/WjlhUsIC3aI/AAAAAAAABkE/KWk4fFnrBiUIY65vmOzM_W9XW1KOof51QCLcBGAs/s640/Goku%2Bvs%2BVegeta%2BFirst%2BFight.png);
  background-size: cover;
}

.supersaiyan {
  background-image: url('https://media.giphy.com/media/m32zTHRBlr8WY/giphy.gif');
  background-size: cover;
}

.saiyan {
  background-image: url('http://jonvilma.com/images/dragon-ball-z-3.jpg');
  background-size: cover;
}

.button {
  background-color: #004225;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    border-radius: 50px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left {
  position: absolute;
  top: 50%;
  text-align: left;
}

.right {
  position: absolute;
  top: 50%;
  right: 0%;
  text-align: right;
}
